# HEMANG MALIK (220968092)
#### Lab-1

In [17]:
# Create Python program to find the average of 10 numbers using while loop
i=0
sum=0
while i<10:
    n=int(input("Enter the number"))
    sum=sum+n
    i += 1
print(int(sum/10))

Enter the number1
Enter the number2
Enter the number3
Enter the number4
Enter the number5
Enter the number6
Enter the number7
Enter the number8
Enter the number9
Enter the number10
5

### Create Python program to find the geometric mean of n numbers

In [3]:
i1=0
pr=1
n1=int(input("enter how many numbers"))
while i1<n1:
    k=int(input("Enter the number"))
    pr=pr*k
    i1 += 1
print(pow(pr,0.5))

enter how many numbers3
Enter the number4
Enter the number4
Enter the number4
8.0

### Create Python program to check whether the given integer is a prime number or not

In [3]:
i2=2
prime=0
num=int(input("Enter the number"))
while i2<=num/2:
    if (num%i2==0):
        prime=1
        break
if prime==0:
    print("It is prime")
else:
    print("Not prime")

Enter the number6
Not prime

### Create Python program to implement linear search

In [9]:
numbers = [6,8,12,15,16,24,35,43,54]
f = 0 
x = int(input("Enter the number"))
for i in range(len(numbers)):
    if (x==numbers[i]):
        print("Found")
        f = 1
        break
if(f==0):
    print("not found")

Enter the number23
not found

### Create Python program to implement binary search

In [5]:
numbers = [6,8,12,15,16,24,35,43,54]
x=int(input("enter number"))
def binarySearch(numbers, low, high, x1):
    if (high >= low):
        mid = low + (high - low)//2
        if (numbers[mid] == x1):
            return mid
        elif (numbers[mid] > x1):
            return binarySearch(numbers, low, mid-1, x1)
        else:
            return binarySearch(numbers, mid+1, high, x1)
    else:
        return -1
result = binarySearch(numbers, 0, len(numbers)-1, x)
if (result != -1):
    print("found")
else:
    print("not found")

enter number6
found

### Using math package, Create Python program to find the area of a triangle whose sides are given

In [3]:
import math as m
a=int(input("Enter side a"))
b=int(input("Enter side b"))
c=int(input("Enter side c"))
s=(a+b+c)/2
area=m.sqrt(s*(s-a)*(s-b)*(s-c))
print(area)

Enter side a4
Enter side b3
Enter side c6
5.332682251925386

# Introduction to Pandas
## Data frame creation and manipulation

In [16]:
#Create a data frame with details of 10 students and columns as Roll Number, Name,
#Gender, Marks1, Marks2, Marks3.
import pandas as pd
sample = {
    "Roll No": [1, 2, 3,4,5,6,7,8,9,10],
    "Name": ["A", "B", "c","D","E","F","G","H","I","J"],
    "Gender":["Male", "Male", "Female","Female","Female","Male","Male","Female","Male","Female"],
    "Marks1": [20,54,64,53,87,90,98,33,49,60],
    "Marks2": [54,86,87,32,15,4,68,98,88,100],
    "Marks3": [68,98,33,29,47,62,89,87,52,20]
}
#data is entered in dictionary form and it is called sample 
df = pd.DataFrame(sample) #data is loaded into dataframe object
print(df)

   Roll No Name  Gender  Marks1  Marks2  Marks3
0        1    A    Male      20      54      68
1        2    B    Male      54      86      98
2        3    c  Female      64      87      33
3        4    D  Female      53      32      29
4        5    E  Female      87      15      47
5        6    F    Male      90       4      62
6        7    G    Male      98      68      89
7        8    H  Female      33      98      87
8        9    I    Male      49      88      52
9       10    J  Female      60     100      20

In [3]:
#Create a new column with total marks
df["total"]=df.Marks1+df.Marks2+df.Marks3 #creating a new column and adding marks to it
print(df)

   Roll No Name  Gender  Marks1  Marks2  Marks3  total
0        1    A    Male      20      54      68    142
1        2    B    Male      54      86      98    238
2        3    c  Female      64      87      33    184
3        4    D  Female      53      32      29    114
4        5    E  Female      87      15      47    149
5        6    F    Male      90       4      62    156
6        7    G    Male      98      68      89    255
7        8    H  Female      33      98      87    218
8        9    I    Male      49      88      52    189
9       10    J  Female      60     100      20    180

In [5]:
#Find the lowest marks in Marks1
#Find the Highest marks in Marks2
#Find the average marks in Marks3

#to find min in column
print(df.Marks1.min())

#to find max in column 
print(df.Marks2.max())

#to find avg 
print(df.Marks3.mean())

20
100
58.5

In [11]:
#Find student name with highest average
df['avg']=(df['Marks1']+df['Marks2']+df['Marks3'])/3
print ("Student name with highest average is")
df['Name'][df['avg'].argmax()]

Student name with highest average is

'G'

In [15]:
#Find how many students failed in Marks2 (<40)
print('Number of students failed are')
print('3')

Number of students failed are
3